@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* BUTTON */
    .btn-primary {
        @apply inline-flex items-center justify-center border border-transparent font-medium rounded shadow-sm transition duration-150 ease-in-out active:scale-95
    }

    .btn-simple {
        @apply inline-flex items-center justify-center border border-gray-300 shadow-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 dark:text-white dark:bg-gray-900 dark:hover:bg-gray-800 dark:border-gray-700 focus:outline-none transition duration-150 ease-in-out active:scale-95
    }

    .btn-primary.primary-color {
        @apply text-white bg-indigo-600 hover:bg-indigo-700
    }
    .btn-primary.red-color {
        @apply text-white bg-red-600 hover:bg-red-700
    }
    .btn-primary.green-color {
        @apply text-white bg-green-600 hover:bg-green-700
    }

    .btn-xs {
        @apply px-2.5 py-1.5 text-xs
    }

    .btn-sm {
        @apply px-3 py-2 text-sm
    }

    .btn-md {
        @apply px-4 py-2 text-sm
    }

    .btn-lg {
        @apply px-4 py-2 text-base
    }

    .btn-xl {
        @apply px-6 py-3 text-base
    }

    /* BACKGROUND */
    .bg-1 {
        @apply bg-gray-50 dark:bg-gray-900
    }

    .bg-2 {
        @apply bg-white dark:bg-gray-800
    }

    .bg-3 {
        @apply bg-white dark:bg-gray-700
    }

    /* TEXT */
    .text-1 {
        @apply text-black dark:text-white
    }

    .text-2 {
        @apply text-gray-700 dark:text-gray-200
    }

    .text-3 {
        @apply text-gray-500 dark:text-gray-400
    }

    /* INPUT */
    .input {
        @apply block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-50
        text-black dark:text-white
        bg-white dark:bg-gray-900
        border-gray-300 dark:border-gray-700
        focus:border-indigo-300 dark:focus:border-indigo-500
        focus:ring-indigo-200 dark:focus:ring-indigo-900
    }

    .input-error {
        @apply border-red-300 dark:border-red-700
    }

    .input-sm {
        @apply text-sm
    }

    .input-xl {
        @apply px-4 py-3 text-base
    }

    .form-error {
        @apply mt-2 text-sm text-red-600
    }

    .checkbox {
        @apply rounded shadow-sm focus:ring focus:ring-offset-0 focus:ring-opacity-50
        border-gray-300 dark:border-gray-700
        text-indigo-600
        focus:border-indigo-300 dark:focus:border-indigo-500
        focus:ring-indigo-200 dark:focus:ring-indigo-900
    }

    .checkbox:not(:checked) {
        @apply bg-white dark:bg-gray-900
    }

    .select {
        @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

#app {
    height: 100%;
}
